@import 'bootstrap/dist/css/bootstrap.min.css';

[data-bs-theme='light'] {
	--anim-highlight-bg: #eff5ff;
}

[data-bs-theme='dark'] {
	--anim-highlight-bg: #292b2f;
}

.table-sticky-header thead th {
	position: sticky;
	top: 0;
	z-index: 10;
}

.animate-new-row {
	animation: anim-appear 1s ease-out forwards;
}

.animate-new-row td {
	animation: anim-highlight 4s ease-in forwards;
}

@keyframes anim-appear {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes anim-highlight {
	0% {
		background-color: var(--anim-highlight-bg);
	}
	90% {
		background-color: var(--anim-highlight-bg);
	}
	100% {
		background-color: transparent;
	}
}

.text-sm1 {
	font-size: 0.9rem;
}

.text-sm2 {
	font-size: 0.8rem;
}

.text-sm3 {
	font-size: 0.7rem;
}
